{% extends 'catalogue.html.twig' %}

{% block title %}Kits de simulation{% endblock %}

{% block div %}
            {% if kits is not empty %}
            {% for kit in kits %}
           <div class="catalogue_card">
               <div class="catalogue_info">
                   <h2>{{ kit.libelle }}</h2>
                   <p> Centre : {{ kit.centre.libelle }}</p>
                   {% if is_granted('ROLE_KITS') %}
                   <a href="{{ path('app_kit_details', {'id': kit.id}) }}">
                    <button>Réserver un créneau</button>
                   </a>
                   {% endif %}
                </div>
                <div id="kit_{{ kit.id }}" class="catalogue_calendrier">
                </div>
            </div>

        {% endfor %}
            {% else %}
                <div class="catalogue_card">
                    Rien ne correspond à votre recherche !
                </div>
            {% endif %}
{% endblock %}