body {
    background-color: white;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 1rem;
}


main {
    flex: 1;
}

a, a:visited, a:active {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}


button,
.button {
    background-color: #e3001b;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 5px;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

button:hover,
.button:hover {
    background-color: #970b13;
}

hr {
    border: none;
    border-bottom: 1px dotted #970b13;
    width: 100%;
    height: 2px;
}

.erreur {
    width: 100%;
    padding: 10px;
    background-color: #970b13;
    color: #e6eff0;
    text-align: center;
    margin-bottom: 20px;
}

.succes {
    width: 100%;
    padding: 10px;
    background-color: #075c68;
    color: #e6eff0;
    text-align: center;
    margin-bottom: 20px;
}

/***************** HEADER ***********************/

header {
    margin-bottom: 30px;
}

.grande_nav {
    background-color: #e6eff0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
}

.petite_nav {
    display: none;
}

header nav {
    padding: 20px;
}


.nav_logo {
    display: flex;
    font-weight: bold;
    img{
        height: 30px;
        margin: 20px 15px 15px;
    }
}


.nav ul {
    z-index: 20;
    position: relative;
    display: flex;
    margin: 0;
    list-style-type: none;
    li:not(:last-child) {
        margin-right: 5px;
    }
    li {
        border: 2px solid transparent;
        border-radius: 5px;
        padding: 10px;
        transition: background 0.2s;
        a {
            text-decoration: none;
            text-transform: uppercase;
            font-size: 0.9rem;
            transition: color 0.2s;
        }
        ul {
            visibility: hidden;
            opacity: 0;
            position: absolute;
            display: block;
            margin: 12px -12px;
            padding: 0;
            background: #970b13;
            border: 2px solid #e3001b;
            border-radius: 5px;
            transition: opacity 0.2s, visibility 0.2s;
            li {
                margin: -2px 0 0 -2px;
                width: calc(100% - 20px);
            }
        }
        &:hover {
            background: #e3001b;
            border: 2px solid #e3001b;
            border-right: 2px solid #E02A21;
            border-bottom: 2px solid #E02A21;
            a {
                color: #F9F8FD;
            }
            ul {
                visibility: visible;
                opacity: 1;
                box-shadow: 0 3px 5px 2px #EBECF1;
                li {
                    a {
                        color: #F9F8FD;
                    }
                }
            }
        }
    }
}










/***************** FOOTER ***********************/

footer {
    background-color: #e6eff0;
    flex-shrink: 0;
    padding: 20px;
    margin-top: 30px;
    display: flex;
    height: 140px;
    justify-content: flex-end;
    gap: 30px;
    section {
        width: 30%;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}



/***************** HOME ***********************/

.home_container {
    display: flex;
    flex-flow: column nowrap;
    gap: 30px;
    align-items: center;
    justify-content: center;
}



.home_card {
    background:#67b1bc;
    height: 350px;
    width: 60vw;
    display: flex;
    justify-content: center;
    gap: 30px;
    color: #132f33;
    transition: all .2s ease-in-out;
    overflow: hidden;
    h2 {
        margin-top: 70px;
        margin-bottom: 40px;
        color: #075c68;
        font-size: 1.7rem;
        span {
            margin-left: 80px;
        }
    }
    .icon {
        font-size: 1.5rem;
        font-weight: bold;
        background-color: #e3001b;
        transition: all .4s ease-in-out;
        width: 60px;
        border-radius: 20px;
        text-align: center;
    }
}

.home_info {
    width: 50%;
}

.home_img {
    background-color: white;
    height: 60%;
    border-radius: 30px;
    margin-top: 50px;
    width: 30%;
    img {
        width: 120%;
        transition: all .4s ease-in-out;
    }
}

.home_card:hover {
    img {
        transform: rotate(-20deg) translate(-20%);
    }

    .icon {
        margin-left: 30px;
    }
}

.home_recherche {
    background:#e6eff0;
    height: 160px;
    width: 100%;
    gap: 0;
    display: flex;
    justify-content: center;
    color: #132f33;
    transition: all .2s ease-in-out;
    overflow: hidden;
    h2 {
        font-size: 1.2rem;
        margin-top: 20px;
        margin-bottom: 40px;
        color: #075c68;
    }
}


.recherche {
    width: 60%;
    background-color: white;
    border: double 4px #970b13;
    position: relative;
    bottom: 100px;
    gap: 30px;
    padding: 30px;
    margin-bottom: -100px;

}


/***************** CATALOGUE ***********************/

.catalogue_container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 2vw;
}

.catalogue_card {
    background-color: #e6eff0;
    width: 75vw;
    padding: 10px 10px 10px 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.catalogue_info {
    width: 20%;
    h2 {
        font-size: 1.3rem;
        margin-top: -20px;
        margin-bottom: 40px;
    }
    button {
        width: 90%;
        margin-bottom: 40px;
    }
}

.catalogue_calendrier {

    width: 80%;
}

.catalogue_filtres {
    background-color: #e6eff0;
    width: 15vw;
    position: sticky;
    top: 20px;
    padding: 15px;
    display: flex;
    flex-flow: column nowrap;
    gap: 5px;
    h2 {
        font-size: 1.4rem;
        margin: 5px;
    }
}

.fc-event.background-event {
    opacity: 1;
    color: #e6eff0;
}

@media screen and (max-width: 1060px){

    .catalogue_container {
        flex-direction: column;
        align-items: center;
    }

    .catalogue_filtres,
    .catalogue_card{
        width: 80vw;
    }

    .catalogue_card {
        flex-direction: column;
        align-items: center;
    }

    .catalogue_calendrier,
    .catalogue_info {
        width: 90%;
    }
}



/***************** DETAILS ***********************/



.detail_container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 2vw;

}

.detail_card {
    background-color: #e6eff0;
    width: 20vw;
    padding: 10px;
    margin-bottom: 20px;

}


.carte_container {
    position: sticky;
    top: 30px;
    background-color: #e6eff0;
    width: 70vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    h2 {
        font-size: 1.5rem;
        margin-top: -10px;
        margin-left: 20px;
    }
    >div {
        width: 95%;
        margin: auto;
    }

}

.reservation-container {
    form div {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: auto;

        input, select {
            width: 100%;
        }
    }
}


/***************** LOGIN ***********************/

.login-container {
    background-color: #970b13;
    width: 100%;
    height: 97vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-card {
    background-color: #e6eff0;
    opacity: 95%;
    width: 40vw;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    justify-items: center;
}


/***************** ADMIN ***********************/

.admin_table {
    width: 100%;
    padding: 10px 10px 10px 20px;
    margin: auto auto 20px;
}

thead {
    background-color: #970b13;
    color:#e6eff0 ;
    width: 100%;
}

.admin_table th {
    border-bottom: thin solid #970b13;
}

.admin_container {
    width: 90vw;
    margin: auto auto 20px;
}

.admin_container .button {
    margin-left: 10%;
    padding: 20px;
    justify-items: right;
}

.admin_form {
    background-color: #e6eff0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 40px;
    width: 40vw;
    margin: auto;
    border-radius: 10px;
}


.admin_form input,
.admin_form label,
.admin_form select{
    width: 100%;
    margin: auto;
}
.admin_form button{
    width: 49%;
}

.admin_form h1 {
    margin-top: -60px;
    margin-left: 50px;
}

/***************** INSCRIPTION ***********************/

.inscription_form {
    background-color: #e6eff0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 40px;
    width: 50vw;
    margin: auto;
    border-radius: 10px;
}

.inscription_form input,
.inscription_form button,
.inscription_form label{
    width: 100%;
    margin: auto;
}
.inscription_form button{
    margin-top: 30px;
}

.inscription_form h1 {
    margin-top: -60px;
    margin-left: 50px;
}

#registration_form_roles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    align-self: flex-start;
    input[type="checkbox"] {
        appearance: none;
        width: 20px;
        height: 20px;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-right: 10px;
        outline: none;
        cursor: pointer;
    }
    input[type="checkbox"]:checked {
        background-color: #970b13;
    }
    input[type="checkbox"]:focus {
        box-shadow: 0 0 2px 1px #970b13;
    }
}



@media screen and (max-width: 1060px) {

    .nav_logo p {
        display: none;
    }

.nav {
}

    .menu ul {
        transform: translate(-50%);
    }


}

@media screen and (max-width: 800px) {

    .petite_nav {
        display: flex;
    }

    .grande_nav {
        display: none;
    }

    .home_container {
        gap: 0;
    }

    .home_card {
        width: 100%;
        height: 350px;
        h2 {
            font-size: 1.6rem;
        }
    }

    a {
        text-decoration: none;
        color: #1E1E23;
        opacity:1;
        font-family: 'work sans', sans serif;
        font-size: 1.5em;
        font-weight: 400;
        transition: 200ms;
    }
    a:hover {
        opacity:0.5;
    }
    ul {
        padding: 0;
        list-style-type: none;
    }


    nav {
        position: fixed;
        top: 15px;
        left: 15px;
        border-radius: 15px;
        z-index: 100;
        background-color: #970b13;
    }


    #menuToggle {
        display: flex;
        flex-direction: column;
        user-select: none;
    }

    #menuToggle input
    {
        display: flex;
        width: 40px;
        height: 32px;
        position: absolute;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
    }

    #menuToggle span
    {
        display: flex;
        width: 29px;
        height: 2px;
        margin-bottom: 5px;
        background: #ffffff;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 5px 0;
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
        background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
        opacity 0.55s ease;
    }

    #menuToggle span:first-child
    {
        transform-origin: 0 0;
    }

    #menuToggle span:nth-last-child(2)
    {
        transform-origin: 0 100%;
    }

    #menuToggle input:checked ~ span
    {
        opacity: 1;
        transform: rotate(45deg) translate(-3px, -1px);
        background: #36383F;
    }
    #menuToggle input:checked ~ span:nth-last-child(3)
    {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    #menuToggle input:checked ~ span:nth-last-child(2)
    {
        transform: rotate(-45deg) translate(0, -1px);
    }

    #menu
    {
        position: absolute;
        width: 180px;
        height: 100vh;
        box-shadow: 0 0 10px #85888C;
        margin: -50px 0 0 -50px;
        padding: 125px 50px 50px;
        background-color: #F5F6FA;
        transform-origin: 0 0;
        transform: translate(-100%, 0);
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }

    #menu li
    {
        padding: 5px 0;
        transition-delay: 2s;
        text-transform: uppercase;
        font-size: 0.8em;
        transition: all 2s linear;
        ul {
            padding-left: 15px;
            transition: all 2s ease-in-out;
        }
    }

    #menuToggle input:checked ~ ul
    {
        transform: none;
    }


}

@media screen and (max-width: 555px) {

    .home_img {
        display: none;
    }

    .home_info {
        width: 80%;
    }

   .home_card {
       display: flex;
       flex-direction: column;
       align-items: center;
       width: 100%;
   }

}